.LoginContent{
    height: 100vh;
    width: 100vw; 
    background: url('https://ss0.bdstatic.com/94oJfD_bAAcT8t7mm9GUKT-xh_/timg?image&quality=100&size=b4000_4000&sec=1582109770&di=7374202555dffe3178aa1014ba088de3&src=http://file.mumayi.com/forum/201401/16/231735cfp4046206r4i705.jpg') 100% 100% no-repeat;   
}
.login-form{
    max-height: 500px;
    margin-top: 200px;
    background: #fff;
    padding: 10PX 30px 30PX;
    border-radius: 15px;
    box-shadow: 0 0 5px #ddd;
    .ant-tabs-nav-scroll{
        text-align: center;
    }
    input {
        border-radius: 15px;
    }
    button{
        width: 100%;
        border-radius: 15px;
    }
    .LoginFormTop{
        margin-top: 15px;
    }
}